<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Player</title>
    <link rel="stylesheet" href="../styles/player.css">
</head>

<body>
    <div class="main">
        <div class="song-box">
            <img src="/IMG_6481.jpg" alt="NA">
        </div>
        <div class="buttons">
            <button id="ctrl-btn" onclick="toggleControl()">Pause ⏸️</button>
        </div>
    </div>
    <script src="../controllers/player.js"></script>
</body>

</html>