body{
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ffd3a5, #ff9770);
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
.title h1 {
    font-size: 3em;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 4px #000; 
}
.button button {
    padding: 15px 30px; 
    background-color: #fff;
    color: #ff9770;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); 
}

.button button:hover {
    background-color: #ffddb9;
}
.main h1{
    text-wrap: wrap;
}
.pop-up {
    display: block;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff9f9; 
    padding: 35px;
    border-radius: 25px; 
    border: 3px solid #ffcad4; 
    box-shadow: 0 10px 30px rgba(255, 151, 112, 0.3); 
    text-align: center;
    z-index: 100;
    min-width: 300px;
}

.pop-up h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: #ff758c;
    margin-bottom: 25px;
}

.pop-up p {
    color: #d88a8a;
    font-size: 1.2em;
    font-weight: 500;
}
.inner-button button {
    padding: 12px 25px; 
    background: #ffb3c1; 
    color: white;
    border: none;
    border-radius: 50px; 
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 179, 193, 0.4);
    margin: 5px;
}
.inner-button button:hover {
    background-color: #ff758c;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(255, 117, 140, 0.5);
}
.song-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .title{
        font-size: 0.6rem;
    }
    .pop-up{
        min-width: 0;
        width: max-content;
    }
}