body{
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ffd3a5, #ff9770);
}
.title {
    text-align: center;
    margin-bottom: 20px;
}
.title h1 {
    font-size: 3em;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 4px #000; 
}
.button button {
    padding: 15px 30px; 
    background-color: #fff;
    color: #ff9770;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); 
}

.button button:hover {
    background-color: #ffddb9;
}
.main h1{
    text-wrap: wrap;
}